main{
    width: 680px;
}

img{
    width: 100%
}



@media screen and (max-width: 680px) {
    main{
        width: 480px;
    }
    
    img{
        width: 100%
    }
}


@media screen and (max-width: 480px) {
    main{
        width: 300px;
    }
    
    img{
        width: 100%
    }
}